$slide_background_image: url(ardentex-logo.png);
$header_footer_background: #008;
$font_family: Helvetica, Verdana, Arial, sans-serif;
$code_color: #533;
$body_font_size: 24pt;
$h1_font_size: 48pt;
$hr_color: #008;
$code_font_size: $body_font_size - 6pt;

body
{
    background-color: #fff;

    color: #000;
    font-size: $body_font_size;
    font-family: $font_family;

    text-align: left;
}

.slide
{
    text-align: left !important;
    background-image: $slide_background_image;
    background-repeat: no-repeat;
    background-position: 30px 120px;
    background-attachment: fixed;
}

h1
{
    font-size: $h1_font_size;
    font-weight: bold !important;
    margin-left: 1em;
}

pre
{
    margin-top: 1em;
    font-size: $code_font_size;
}

ul
{
    font-size: $body_font_size !important;
}

.content
{
    margin-top: 0 !important;
    margin-left: 5em !important;
    padding-top: 2em !important;
    text-align: left;
    font-size: $body_font_size;

    &.title-page
    {
        h1
        {
        }
    }

    ul
    {
        li
        {
            text-align: left;
            list-style-type: disc;
        }
    }

    h1
    {
        border-bottom: 1px solid $hr_color;
        margin-right: 1em;
        text-align: left !important;
    }
}


html, body
{
    margin: 0;
    padding: 0;
}

@mixin header_footer_common
{
    font-family: $font_family;
}

div#header
{
    @include header_footer_common;
    background: #fff url(ardentex.png) -16px 0 no-repeat;
    line-height: 1px;
}

div#footer
{
    @include header_footer_common;
}
