$slide_background_image: url(ardentex-logo.png);
$header_footer_background: #008;
$font_family: Helvetica, Verdana, Arial, sans-serif;
$code_color: #533;
$body_font_size: 24pt;
$h1_font_size: 48pt;
$hr_color: #008;
$code_font_size: $body_font_size - 6pt;
$gradient_top_color: #ffffff;
$gradient_bottom_color: #9999ff;

@mixin gradient
{
    background: -webkit-gradient(linear, left top, left bottom, from($gradient_top_color), to($gradient_bottom_color));
    background: -moz-linear-gradient(top, $gradient_bottom_color, $gradient_top_color);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$gradient_bottom_color', endColorstr='$gradient_top_color');
}

body
{
    @include gradient;

    color: #000;
    font-size: $body_font_size;
    font-family: $font_family;

    text-align: left;
}

.slide
{
    text-align: left !important;
    @include gradient;
}

h1
{
    font-size: $h1_font_size;
    font-weight: bold !important;
    margin-left: 1em;
}

pre
{
    margin-top: 1em;
    font-size: $code_font_size;
}

ul
{
    font-size: $body_font_size !important;
}

.content
{
    margin-top: 0 !important;
    margin-left: 5em !important;
    padding-top: 2em !important;
    text-align: left;
    font-size: $body_font_size;

    /* Logo image, upper left. */
    &::before
    {
        position: absolute;
        left: 10px;
        top: 10px;
        content: $slide_background_image;
    }

    &.title-page
    {
        h1
        {
        }
    }

    ul
    {
        li
        {
            text-align: left;
            list-style-type: disc;
        }
    }

    h1
    {
        border-bottom: 1px solid $hr_color;
        margin-right: 1em;
        text-align: left !important;
    }
}


html, body
{
    margin: 0;
    padding: 0;
}

@mixin header_footer_common
{
    font-family: $font_family;
}

div#footer
{
    @include header_footer_common;
}
